doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet')
    // <link rel="stylesheet" href="css/icon-font.css">
    link(rel='stylesheet', href='css/style.css')
    |     
    link(rel='shortcut icon', type='image/png', href='img/favicon.png')
    |     
    title Natours &ndash; Exciting tours for adventurous people
  |   


  body
    

    .navigation
      input#navi-toggle.navigation__checkbox(type='checkbox')
      |       
      label.navigation__button(for='navi-toggle')
        span.navigation__icon &nbsp;
      |       
      .navigation__background &nbsp;
      |       
      nav.navigation__nav
        ul.navigation__list
          label(for='navi-toggle')
            li.navigation__item
              label(for='navi-toggle')
                a.navigation__link(href='#about')
                  span 01
                  | About Natours
            |             
            li.navigation__item
              a.navigation__link(href='#features', onclick='checkAll()')
                span 02
                | Your benefits
            |             
            li.navigation__item
              a.navigation__link(href='#tours')
                span 03
                | Popular tours
            |             
            li.navigation__item
              a.navigation__link(href='#stories')
                span 04
                | Stories
            |             
            li.navigation__item
              a.navigation__link(href='#book')
                span 05
                | Book now
            |    
            li.navigation__item
              a.navigation__link(href='/reviews-formatted')
                span 06
                | Reviews    
            |    
            li.navigation__item
              a.navigation__link(href='/login')
                span 07
                | Log-in 
            |    
            li.navigation__item
              a.navigation__link(href='/register')
                span 08
                | Register 
    |     
    header.header
      .header__logo--box
        img(src='img/logo-white.png', alt='logo')
      |       
      .header__text--box
        h1.header__primary
        |         
        span.header__primary--main  Outdoors
        |         
        span.header__primary--sub Is where life happens 
        |         
        a.btn.btn--white.btn--animated(href='#tours') Discover our tours
    |     
    main
      section#about.section-about
        .u-center-text.u-margin-bottom-big
          h2.heading-secondary
            | Exciting tours for adventurous people
        |         
        .row
          .col-1-of-2
            h3.heading3.u-margin-bottom-small
              | You&apos;re going to fall in love with nature
            |             
            p.paragraph.u-margin-bottom-small
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              | eligendi voluptatem, sapiente molestiae aliquam error eius quas
              | vero cumque, nostrum minus, officiis aspernatur est saepe?
            |             
            h3.heading3.u-margin-bottom-small
              | LIVE ADVENTURES LIKE YOU NEVER HAVE BEFORE
            |             
            p.paragraph.u-margin-bottom-small
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              | eligendi voluptatem, sapiente molestiae aliquam error eius quas
              | vero cumque.
            |             
            a.btn.btn--green.u-margin-top-small(href='#')
              | Learn more &rarr;
          |           
          .col-1-of-2
            .composition
              img.composition__photo.composition__photo--p1(srcset='img/nat-1.jpg 300w, img/nat-1-large.jpg 1000w', alt='photo 1', sizes='(max-width: 900px) 20vw, (max-width: 600px) 30vw, 300px', src='img/nat-1-large.jpg')
              // <img src="img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
              img.composition__photo.composition__photo--p2(src='img/nat-2-large.jpg', alt='Photo 2')
              |               
              img.composition__photo.composition__photo--p3(src='img/nat-3-large.jpg', alt='Photo 3')
        |         
        .row
      |       
      section#features.section-features
        .row
          .col-1-of-4
            .feature-box
              i.feature-box__icon.icon.icon-basic-world
              |               
              h3.heading3.u-margin-bottom-small Explore the world
              |               
              p.feature-box__text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                | eligendi voluptatem, sapiente molestiae aliquam error eius quas
                | vero cumque.
          |           
          .col-1-of-4
            .feature-box
              i.feature-box__icon.icon.icon-basic-compass
              |               
              h3.heading3.u-margin-bottom-small Meet nature
              |               
              p.feature-box__text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                | eligendi voluptatem, sapiente molestiae aliquam error eius quas
                | vero cumque.
          |           
          .col-1-of-4
            .feature-box
              i.feature-box__icon.icon.icon-basic-map
              |               
              h3.heading3.u-margin-bottom-small Find your way
              |               
              p.feature-box__text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                | eligendi voluptatem, sapiente molestiae aliquam error eius quas
                | vero cumque.
          |           
          .col-1-of-4
            .feature-box
              i.feature-box__icon.icon.icon-basic-heart
              |               
              h3.heading3.u-margin-bottom-small
                | Live a healthier life
              |               
              p.feature-box__text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                | eligendi voluptatem, sapiente molestiae aliquam error eius quas
                | vero cumque.
      |       
      section.section-tours.u-padding-bottom-medium
        .row
          .u-center-text.u-margin-bottom-small
            h2#tours.heading-secondary Most popular tours
        |         
        .row
          .col-1-of-3
            .card
              .card__side.card__side--front
                .card__picture.card__picture-1 &nbsp;
                |                 
                .card__heading
                  span.card__heading-span.card__heading-span-1 The sea explorer
                |                 
                .card__details
                  ul
                    li 3 day tours
                    |                     
                    li Up to 30 people
                    |                     
                    li 2 tour guides
                    |                     
                    li Sleep in cozy hotels
                    |                     
                    li Difficulty: easy
              |               
              .card__side.card__side--back.card__side--back-1
                .card__cta
                  .back-price-box
                    span.back-price-box-only only
                    |                     
                    span.back-price-box-price $297
                  |                   
                  a.btn.btn--white(href='#popup') Book now!
          |           
          .col-1-of-3
            .card
              .card__side.card__side--front
                .card__picture.card__picture-2 &nbsp;
                |                 
                .card__heading
                  span.card__heading-span.card__heading-span-2 The forest hiker
                |                 
                .card__details
                  ul
                    li 7 day tours
                    |                     
                    li Up to 40 people
                    |                     
                    li 4 tour guides
                    |                     
                    li Sleep in provided tent
                    |                     
                    li Difficulty: medium
              |               
              .card__side.card__side--back.card__side--back-2
                .card__cta
                  .back-price-box
                    span.back-price-box-only only
                    |                     
                    span.back-price-box-price $497
                  |                   
                  a.btn.btn--white(href='#popup') Book now!
          |           
          .col-1-of-3
            .card
              .card__side.card__side--front
                .card__picture.card__picture-3 &nbsp;
                |                 
                .card__heading
                  span.card__heading-span.card__heading-span-3 The snow adventurer
                |                 
                .card__details
                  ul
                    li 5 day tours
                    |                     
                    li Up to 15 people
                    |                     
                    li 3 tour guides
                    |                     
                    li Sleep in providec tents
                    |                     
                    li Difficulty: hard
              |               
              .card__side.card__side--back.card__side--back-3
                .card__cta
                  .back-price-box
                    span.back-price-box-only only
                    |                     
                    span.back-price-box-price $897
                  |                   
                  a.btn.btn--white(href='#popup') Book now!
        |         
        .row
          .discover-tour-btn.u-padding-bottom-big
            a.btn.btn--greenfill.u-margin-top-small.u-margin-bottom-big(href='#') Discover all tours
      |       
      section#stories.section-stories
        .bg-video
          video.bg-video__content(autoplay='', muted='', loop='')
            source(src='img/video.mp4', type='video/mp4')
            // test 1st source
            source(src='img/video.webm', type='video/webm')
            // test 2nd source
            | Your browser is not supported!
            // error if non of the above supported
        |         
        .row.u-center-text
          h2.heading-secondary We make people genuinely happy
        |         
        .row
          .story
            figure.story__shape
              img.story__image(src='img/nat-8.jpg', alt='story1')
              |               
              fitcaption.story__caption Mrs world
            |             
            .story__text
              h3.heading3.u-padding-bottom-small
                | I had the best week ever with my family
              |               
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Explicabo repellat accusantium hic optio quo ratione natus
                | consequuntur quaerat veniam obcaecati consectetur ipsam nihil
                | aspernatur debitis dolores vero, minima cupiditate ipsum? Lorem
                | ipsum dolor sit amet consectetur adipisicing elit. Maxime,
                | harum!
        |         
        .row
          .story
            figure.story__shape
              img.story__image(src='img/nat-9.jpg', alt='story1')
              |               
              fitcaption.story__caption Sharif Sarker
            |             
            .story__text
              h3.heading3.u-padding-bottom-small
                | wow! now my life is completly different
              |               
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Explicabo repellat accusantium hic optio quo ratione natus
                | consequuntur quaerat veniam obcaecati consectetur ipsam nihil
                | aspernatur debitis dolores vero, minima cupiditate ipsum? Lorem
                | ipsum dolor sit amet consectetur adipisicing elit. Maxime,
                | harum!
        |         
        .row.u-center-text
          a.btn.btn--green.u-margin-top-small(href='#')
            | Read more stories &rarr;
      |       
      section#book.section-book
        .row
          .book
            .book__form
              form.form(action='#')
                h2.heading-secondary.u-padding-bottom-medium
                  | Start booking now
                |                 
                .form__group
                  input#name.form__input(type='text', placeholder='Full Name', required='')
                  |                   
                  label.form__label(for='name') Full name
                |                 
                .form__group
                  input#email.form__input(type='email', placeholder='Email address', required='')
                  |                   
                  label.form__label(for='email') Email address
                |                 
                .form__group
                  .form__radio-group
                    input#small.form__radio-input(type='radio', name='size')
                    |                     
                    label.form__radio-label(for='small')
                      span.form__radio-button  
                      |  Small tour
                      |                       group
                  |                   
                  .form__radio-group.u-margin-bottom-medium
                    input#large.form__radio-input(type='radio', name='size')
                    |                     
                    label.form__radio-label(for='large')
                      span.form__radio-button  
                      | Large tour
                      |                       group
                    // because label is connected to the input, we can create our own buttons in the label
                  |                   
                  .form__radio-group
                    button.btn.btn--greenfill Next step &rarr;
    |     
    footer.footer
      .footer__logo-box.u-center-text
        img.footer__logo(srcset='img/logo-green-1x.png 1x, img/logo-green-2x.png 2x', alt='Logo')
      |       
      .row
        .col-1-of-2
          .footer__nav
            ul
              li.footer__item
                a.footer__link(href='#') Company
              |               
              li.footer__item
                a.footer__link(href='#') Contact us
              |               
              li.footer__item
                a.footer__link(href='#') Careers
              |               
              li.footer__item
                a.footer__link(href='#') Privacy policy
              |               
              li.footer__item
                a.footer__link(href='#') Terms
        |         
        .col-1-of-2
          p.footer__copyright
            | Built by 
            a.footer__link(href='#') SHARIF, REDDY, FRED, BABU, GOOD BOY
            |  for
            |             SD2 ASSIGNMENT
            |             
            a.footer__link(href='#') UNIVERSITY OF ROEHAMPTON
            | .
            |             You are 100% allowed to use this
            |             webpage for both personal and commercial use, but NOT to claim it as
            |             your own design. A credit to the original author
            |             is of course highly appreciated!
    |     
    #popup.popup
      a.popup__close-bg(href='#', onclick='history.go(-1)')
      |       
      .popup__content(onclick='return false')
        .popup__left
          img.popup__img(src='img/nat-8.jpg', alt='popup photo')
          |           
          img.popup__img(src='img/nat-9.jpg', alt='popup photo')
        |         
        .popup__right
          a.popup__close(href='#', onclick='history.go(-1)') &times;
          |           
          h2.heading-secondary.u-padding-bottom-small
            | Start booking now
          |           
          h3.heading3.u-padding-bottom-small
            | Important &ndash; Read the following information:
          |           
          p.popup__text.u-padding-bottom-medium
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            | quasi voluptate totam vel suscipit sapiente ut praesentium, fugiat
            | doloremque cupiditate, voluptatum iste sint corporis sequi ex animi!
            | Qui, illum necessitatibus? Lorem ipsum dolor, sit amet consectetur
            | adipisicing elit.
          |           
          .u-center-text
            a.btn.btn--greenfill(href='#book', onclick='history.go(-1)') Book now
      |       
      a.popup__close(href='#', onclick='history.go(-1)')
    //
      <section class="grid-test">
      <div class="row">
      <div class="col-1-of-2">
      1 of 2
      </div>
      <div class="col-1-of-2">
      1 of 2
      </div>
      </div>
      <div class="row">
      <div class="col-1-of-3">
      1 of 3
      </div>
      <div class="col-1-of-3">
      1 of 3
      </div><div class="col-1-of-3">
      1 of 3
      </div>
      </div>
      <div class="row">
      <div class="col-1-of-3">
      1
      </div>
      <div class="col-2-of-3">
      1
      </div>
      </div>
      <div class="row">
      <div class="col-1-of-4">
      1
      </div>
      <div class="col-1-of-4">
      2
      </div><div class="col-1-of-4">
      3
      </div>
      <div class="col-1-of-4">
      4
      </div>
      </div>
      <div class="row">
      <div class="col-1-of-4">
      1 of 4
      </div>
      <div class="col-1-of-4">
      1 of 4
      </div><div class="col-2-of-4">
      2 of 4
      </div>
      </div>
      <div class="row">
      <div class="col-1-of-4">
      1 of 4
      </div>
      <div class="col-3-of-4">
      3 of 4
      </div>
      </div>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    |     
    script(src='index.js')
