extends layout

block content
    link(rel='stylesheet', href='static/css/reviews.css')

    .main-content 
        h1 All Reviews 
        table(border=1)
            thead
                tr
                    th User ID
                    th Review
                    th Rating
                    th Date
            tbody
                for item in data 
                    tr  
                        td #{item.Review_ID}
                        td #{item.Review} 
                        td #{item.Rating}
                        td #{item.Date}
